*{
    margin:0px;
    font-family: 'inter'
}

#menusuperior{
    background-color: #303030;
    padding-top:5px;
}

#titulo-menusuperior{
    margin-left: 70px;
    margin-top: 65px;
    font-size: 40px;
    color: white;
}

#segundo-titulo-do-menusuperior{
    margin-left: 70px;
    margin-top: 12px;
    font-size: 15px;
    color: white;
    padding-bottom: 90px;
}

#informacoes-da-empresa{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.numeros1{
    margin: 50px 0px 50px 130px;
    padding: 25px;
}

.texto1{
    margin-top: -77px;
    margin-left: 155px;
    margin-bottom: 50px;
}

.numeros2{
    margin: 50px 0px 50px 150px;
    padding: 25px;
}

.texto2{
    margin-top: -77px;
    margin-left: 175px;
    margin-bottom: 50px;
}

.numeros3{
    margin: 50px 0px 50px 150px;
    padding: 25px;
}

.texto3{
    margin-top: -77px;
    margin-left: 175px;
    margin-bottom: 50px;
}

#imagem{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-right: 30px;
}

#titulo-complementar{
    margin-top: 230px;
    margin-left: 65px;
    margin-bottom: 30px;
    font-size: 30px;
    
}

#texto-complementar{
    margin-left: 65px;
    font-size: 14px;
    
}

#imagemsala{
    margin-top: 50px;
    margin-bottom: 50px;
}

#area{
    background-color: #303030;
    padding-top: 50px;

}


#formulario{
    text-align: center;
}

#titulo-formulario{
    margin: 25px;
    font-size: 27px;
    color: white;
    padding-bottom: 10px;
}

input{
    background-color: #ffff;
    width: 300px;
    height: 40px;
    margin: 15px;
    border: 0px;
    border-radius: 7px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: bolder;
    margin-bottom: 35px;
}

button{
    background-color: #C07212;
    width: 200px;
    height: 40px;
    color: #eaece5;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-family: 'Raleway';
    cursor: pointer;
}

button:hover{
    background-color: #c47b21;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px #aa620a;
    transition-duration: 0.2s;
}

